
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sample</title>
</head>
<body>
    <h1>@ViewBag.Message</h1>
    <p>This is a sample view. It's not much to look at but it gets the job done.</p>
    <div> 
    </div>
</body>
</html>
